
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Estilos para .card */
.card {
  margin-left: 4em;
  position: relative;
  z-index: 5;
}

.logo {
  width: 30%;
  position: relative;
  z-index: 5;
}

.background {
  position: absolute;
  height: 42em;
  margin-left: 33.3em;
}

.cardComponent {
  width: 28.125em;
  height: 21.375em;
  background-color: #F2F2F2;
}
.botao {
  background: linear-gradient(180deg, #2256f2 0%, #4674ff 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);
}
