.header {
  background-color: #2256f2;
}

.logout {
  color: #fff;
  cursor: pointer;
  font-size: 1.7em;
}

.logout:hover {
  background-color: #4674ff;
}

.title {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-shadow: 1px 1px #757578;
}

.iten {
  color: #fff;
}

.iten:hover {
  background-color: #4674ff;
}
.logo{
  cursor: pointer;
}
.navbar{
  background-color: #f2f2f2;
  width: 100%;
}
.toggle{
  flex-direction: column;
}

.itenToggle{
  color: black;
}